<h1>Withholding Tax Calculator</h1>

<%= form_with url: calculate_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :gross_income, "Enter Gross Income:" %>
    <%= form.text_field :gross_income %>
  </div>
  <div>
    <%= form.label :filing_status, "Select Filing Status:" %>
    <%= form.select :filing_status, options_for_select([['Single', 'single'], ['Married Filing Separately', 'single'], ['Married Filing Jointly', 'married_filing_jointly'], ['Head of Household', 'head_of_household']], selected: params[:filing_status]) %>
  </div>
  <div>
    <%= form.submit "Calculate" %>
  </div>
<% end %>

<% if @withholding_tax %>
  <h2>Gross Income: $<%= @gross_income %></h2>
  <h2>Withholding Tax: $<%= @withholding_tax %></h2>
<% end %>
