<!-- app/views/employees/index.html.erb -->
<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Filing Status</th>
      <th>Pay Rate</th>
      <th>Position</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.filing_status %></td>
        <td><%= number_to_currency(employee.pay_rate) %></td>
        <td><%= employee.position.capitalize %></td>
        <td><%= link_to 'Show', employee_path(employee), class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-secondary" %></td>
        <td>
          <%= form_with url: employee_path(employee), method: :delete, local: true do %>
            <%= submit_tag 'Delete', class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Employee', new_employee_path %>
