<!-- app/views/payroll_records/index.html.erb -->
<h1><%= @employee.name %>'s Payroll Records</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hours Worked</th>
      <th>Gross Pay</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @payroll_records.each do |record| %>
      <tr>
        <td><%= record.date %></td>
        <td><%= record.hours_worked %></td>
        <td><%= number_to_currency(record.gross_pay) %></td>
        <td>
          <%= link_to 'Show', employee_payroll_record_path(@employee, record) %>
          <%= link_to 'Edit', edit_employee_payroll_record_path(@employee, record) %>
          <%= link_to 'Delete', employee_payroll_record_path(@employee, record), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Record', new_employee_payroll_record_path(@employee) %> | 
<%= link_to 'Back to List', employees_path %>
