<h1>Calculate Net Pay</h1>

<%= form_with url: net_pay_show_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :regular_hours, "Regular Hours Worked:" %>
    <%= form.number_field :regular_hours, step: :any %>
  </div>
  <div>
    <%= form.label :overtime_hours, "Overtime Hours Worked:" %>
    <%= form.number_field :overtime_hours, step: :any %>
  </div>
  <div>
    <%= form.label :regular_pay_rate, "Pay Rate:" %>
    <%= form.number_field :regular_pay_rate, step: :any %>
  </div>
  <div>
    <%= form.label :reported_tips, "Reported Tips:" %>
    <%= form.number_field :reported_tips, step: :any %>
  </div>
  <div>
    <%= form.label :loan, "Loan Deduction:" %>
    <%= form.number_field :loan, step: :any %>
  </div>
  <div>
    <%= form.label :retirement_rate, "401K Rate:" %>
    <%= form.number_field :retirement_rate, step: :any %>
  </div>
  <div>
    <%= form.label :insurance, "Insurance:" %>
    <%= form.number_field :insurance, step: :any %>
  </div>
  <div>
    <%= form.label :filing_status, "Filing Status:" %>
    <%= form.select :filing_status, options_for_select(['single', 'married_filing_jointly', 'head_of_household'], selected: params[:filing_status]) %>
  </div>
  <div>
    <%= form.submit "Calculate Net Pay", name: 'calculate' %>
  </div>
<% end %>

<% if @net_pay %>
  <table>
    <tr>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>Regular Hours Worked</td>
      <td><%= @regular_hours %></td>
    </tr>
    <tr>
      <td>Regular Pay Rate</td>
      <td><%= number_to_currency(@regular_pay_rate) %> / hour</td>
    </tr>
    <tr>
      <td>Regular Pay</td>
      <td><%= number_to_currency(@regular_pay) %></td>
    </tr>
    <tr>
      <td>Overtime Hours Worked</td>
      <td><%= @overtime_hours %></td>
    </tr>
    <tr>
      <td>Overtime Pay Rate</td>
      <td><%= number_to_currency(@overtime_rate) %> / hour</td>
    </tr>
    <tr>
      <td>Overtime Pay</td>
      <td><%= number_to_currency(@overtime_pay) %></td>
    </tr>
    <tr>
      <td>Reported Tips</td>
      <td><%= number_to_currency(@reported_tips) %></td>
    </tr>
    <tr>
      <td>Gross Income</td>
      <td><%= number_to_currency(@gross_income) %></td>
    </tr>
    <tr>
      <td>Loan</td>
      <td><%= number_to_currency(@loan) %></td>
    </tr>
    <tr>
      <td>Withholding Tax</td>
      <td><%= number_to_currency(@withholding_tax) %></td>
    </tr>
    <tr>
      <td>Social Security Tax</td>
      <td><%= number_to_currency(@social_security_tax) %></td>
    </tr>
    <tr>
      <td>Medicare Tax</td>
      <td><%= number_to_currency(@medicare_tax) %></td>
    </tr>
    <tr>
      <td>Retirement</td>
      <td><%= number_to_currency(@retirement_amount) %></td>
    </tr>
    <tr>
      <td>Insurance</td>
      <td><%= number_to_currency(@insurance) %></td>
    </tr>
    <tr>
      <td>Filing Status</td>
      <td><%= @filing_status.capitalize %></td>
    </tr>
    <tr class="net-pay">
      <td><strong>Net Pay</strong></td>
      <td><strong><%= number_to_currency(@net_pay) %></strong></td>
    </tr>
  </table>
<% end %>
