<!DOCTYPE html>
<html>
<head>
  <title>Leon's Payroll Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <%= link_to 'Payroll', payroll_show_path, class: 'btn btn-primary' %> | 
    <%= link_to 'Tax Calculator', calculate_path, class: 'btn btn-primary' %>
  </header>
  <%= yield %>
</body>
</html>
