<!DOCTYPE html>
<html>
<head>
  <title>Leon's Payroll Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <%= link_to 'Payroll', net_pay_show_path %> | 
    <%= link_to 'Tax Calculator', calculate_path %> | 
    <%= link_to 'Test Payroll Application', employees_path %>
  </header>
  <%= yield %>
</body>
</html>
